<div id="shopify-block-6143736321357441667" class="shopify-block shopify-app-block">
    <script type="lazyload_int" data-src="//code.tidio.co/60lkdtbnkfeqf5uwnaxz7c6opdqmdbtz.js?extensionVersion=1.1.0"></script>
</div>
<script type="lazyload_int">
    lazyIframe = document.querySelectorAll("iframe[data-src]");
	lazyIframe.forEach(function(a) {
		if (a.dataset.src != null && a.dataset.src != "") {
			a.src = a.dataset.src;
			delete a.dataset.src;
		}
	});    
</script>
